.header {
    color: rgb(0, 0, 0);
    border: 3px solid rgb(15, 0, 80);
    border-radius: 30px;
    padding: 5px;
    text-align: center;
    font-size: 65px;
    margin-left: 400px;
    margin-right: 400px;
}
body {
    min-height: 100vh;
    background: url(fondo.jpg) no-repeat center center fixed ;
    background-size: cover;
}


div {
    border: 3px solid #0d3964;
    border-radius: 30px;
    height: 400px;
    padding: 1%;
    margin-top: 3%;
}

 div img {
    height: 350px;
    float: left;
}

div p {
    margin-left: 24%;
    font-size: 150%;
}
